
#main{
	width: 650px;
	height: 450px;
	padding-left: 32px; 
}
#thesis
{
	padding-left: 100px;
	padding-top: 32px;
	width: 280px;
	height: 150px;
}
.aa{
	margin-left: 18px;
    padding: 15px 10px 5px 20px;
    height: 100px;
    width: 100px;
}
.a1 {
    height: 70%;
    width: 100%;
}
.a2{

    width: 100%;

}